%h1
  Bets#new

= form_tag game_board_bets_path do

  %table
    - checked = true
    - @al_houses.each do |al_house|
      %tr
        %td= ( radio_button_tag( 'asking_house_id', al_house.h_house_id, checked ) unless al_house.minor_alliance_member )
        %td= al_house.h_house.code_name
        %td= ( number_field_tag( "houses_bets[#{al_house.h_house_id}]", current_bet( al_house ), class: :house_bets_inputs ) if al_house.minor_alliance_member )
      - checked = false

  = submit_tag :submit

= hidden_field_tag :bets, @bets.to_json